@import 'header';
@import 'template';

#paginate {
    display: flex;
    justify-content: center;
}
#sortable {
    display: flex;
    justify-content: center;
}
#content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    background: white;
    height: 100%;
}
